<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Loan Department">

  <parameter name="URL" value="qaclickacademy.com"></parameter>

  <test thread-count="5" name="Personal Loan">
    <parameter name="URL" value="personalloan.com"></parameter>
    <classes>
      <class name="testing.day1"/>
      <class name="testing.day2"></class>
      </classes>
  </test> <!-- Test -->

  <test name="Car Loan">
    <parameter name="URL" value="carLoan.com"></parameter>
    <parameter name="APIKey/Username" value="1234567"></parameter>
    <classes>
      <class name="testing.day3">
        <methods>
          <!-- Excluding all Mobile test cases with test functions starting with Mobile -->
<!--          <exclude name="Mobile.*"></exclude>-->
        </methods>
      </class>
      </classes>
  </test>

  <test name="Home Loan">
    <classes>
      <class name="testing.day4">
        <methods>
          <include name="LoginAPIhomeLoan"></include>
        </methods>
      </class>
    </classes>
  </test>
</suite> <!-- Suite -->
